<section>
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-12">
        <h1>How referyogi Works</h1>
      </div>
      <div class="col-md-12">
        <h4>Click to play</h4>
      </div>
      <div class="col-md-12">
        <i class="fa fa-youtube-play fa-2x" aria-hidden="true" style="color:red"></i>
      </div>
    </div>
    <div class="row text-center">
      <img src="../assets/images/00-Bann-HowSpini-Complete.png" alt="alter" width="100%" style="height:auto;">
    </div>
  </div>
</section>
