<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5>Terms and condition</h5>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Terms of service</a></li>
          <li class="list-group-item"><a href="#">Terms and Condition</a></li>
          <li class="list-group-item"><a href="#">Privacy and policy</a></li>
          <li class="list-group-item"><a href="#">ReferYogi Blogs</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Help and Contact</h5>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Help center</a></li>
          <li class="list-group-item"><a href="#">Email us</a></li>
          <li class="list-group-item"><a href="#">8056756218</a></li>
          <!-- <li class="list-group-item"><a href="#">ReferYogi Blogs</a></li> -->
        </ul>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12 text-center">
        <h6>2017 all rights reserved</h6>
      </div>
    </div>
  </div>
</footer>
